.card {
    position: relative;
    z-index: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: ease-in-out 0.2s;
    padding: 20px;
    height: 200px;
}
.card:hover {
    opacity: 0.9;
}

.text {
    color: darkblue;
    position: relative;
    z-index: 1;
    background-color: #e4e1dea8;
    padding: 4px;
    border-radius: 4px;
}

.text h2 {
    font-size: x-large;
    font-weight: 500;
}

.image {
    border-radius: 5px;
}